Repository December-software-project/sort-algo, pull requests merged in 2020-12, with the labels that each got.

#25 Add links readme
  README.md
Labels: docs

#26 Add backbone for sortalgo
  .circleci/config.yml
  .gitignore
  package.json
  src/App.test.tsx
  src/App.tsx
  src/CodeTemplate.tsx
  src/PlaybackButton.tsx
  src/about/index.tsx
  src/contactus/index.tsx
  src/index.tsx
  src/setupTests.ts
  src/team/index.tsx
  src/visualizer/component/CodeTemplate.tsx
  src/visualizer/component/PlaybackButton.tsx
  src/visualizer/index.tsx
Labels: code

#27 Refactor to javascript
  .idea/codeStyles/Project.xml
  package-lock.json
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/App.tsx
  src/about/index.js
  src/contactus/index.js
  src/index.css
  src/index.js
  src/react-app-env.d.ts
  src/reportWebVitals.js
  src/setupTests.js
  src/team/index.js
  src/visualizer/component/CodeTemplate.js
  src/visualizer/component/CodeTemplate.tsx
  src/visualizer/component/PlaybackButton.js
  src/visualizer/component/PlaybackButton.tsx
  src/visualizer/index.js
  tsconfig.json
Labels: code

#28 Animation for the swapping
  package.json
  src/App.css
  src/App.js
  src/index.css
  src/visualizer/algorithm/insertionSort.js
  src/visualizer/component/block/AnimatedBlock.js
  src/visualizer/component/block/data.js
  src/visualizer/component/block/styles.css
  src/visualizer/index.js
  src/visualizer/sortingvisualizer/AnimationScreen.js
  src/visualizer/sortingvisualizer/styles.css
  src/visualizer/styles.css
Labels: code

#29 Add play-pause button, and legend
  .gitignore
  .idea/.gitignore
  .idea/checkstyle-idea.xml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/index.css
  src/index.js
  src/visualizer/Visualizer.js
  src/visualizer/component/PlaybackButton.js
  src/visualizer/component/block/AnimatedBlock.js
  src/visualizer/component/block/data.js
  src/visualizer/component/block/styles.css
  src/visualizer/component/legend/Legend.js
  src/visualizer/component/legend/LegendHeader.js
  src/visualizer/component/legend/LegendInformation.js
  src/visualizer/component/legend/styles.css
  src/visualizer/component/playbackbutton/PlaybackButton.js
  src/visualizer/component/playbackbutton/styles.css
  src/visualizer/index.js
  src/visualizer/sortingvisualizer/AnimationScreen.js
  src/visualizer/styles.css
Labels: code

#30 Add selectors for visualizers
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/index.css
  src/visualizer/Visualizer.js
  src/visualizer/algorithm/insertionSort.js
  src/visualizer/algorithm/quickSort.js
  src/visualizer/component/block/AnimatedBlock.js
  src/visualizer/component/block/data.js
  src/visualizer/component/block/styles.css
  src/visualizer/component/header/VisualizerHeader.js
  src/visualizer/component/header/styles.css
  src/visualizer/component/legend/Legend.js
  src/visualizer/component/legend/styles.css
  src/visualizer/component/playbackbutton/styles.css
  src/visualizer/component/selectors/algorithmselector/AlgorithmSelector.js
  src/visualizer/component/selectors/sliderselector/SliderSelector.js
  src/visualizer/component/selectors/sliderselector/styles.css
  src/visualizer/sortingvisualizer/AnimationScreen.js
  src/visualizer/styles.css
Labels: code

#33 Add code template
  package-lock.json
  package.json
  src/App.js
  src/team/index.js
  src/team/styles.css
  src/visualizer/codeexplaination/CodeExplanation.css
  src/visualizer/codeexplaination/CodeExplanation.js
  src/visualizer/codetemplate/CodeTemplate.css
  src/visualizer/codetemplate/CodeTemplate.js
  src/visualizer/styles.css
  src/visualizer/templates/bubbleSortTemplate.js
  src/visualizer/templates/insertionSortTemplate.js
Labels: code

#35 Remove deprecated file and update some sizing
  src/visualizer/codeinformation/codeexplaination/CodeExplanation.css
  src/visualizer/codeinformation/codeexplaination/CodeExplanation.js
  src/visualizer/codeinformation/codetemplate/CodeTemplate.css
  src/visualizer/codeinformation/codetemplate/CodeTemplate.js
  src/visualizer/codeinformation/explanations/insertionSortEx.js
  src/visualizer/codeinformation/templates/bubbleSortTemplate.js
  src/visualizer/sortingvisualizer/styles.css
  src/visualizer/styles.css
Labels: code

#36 Fix heroku fail deployment
  src/visualizer/algorithm/radixSort.js
  src/visualizer/codeinformation/explanations/radixSortEx.js
  src/visualizer/codeinformation/templates/quickSortTemplate.js
Labels: code

#37 Team page
  .prettierrc
  package-lock.json
  package.json
  src/App.js
  src/team/Team.js
  src/team/image/keanecjy.png
  src/team/index.js
  src/team/styles.css
  src/visualizer/algorithm/radixSort.js
  src/visualizer/codeinformation/codetemplate/CodeTemplate.css
  src/visualizer/codeinformation/codetemplate/CodeTemplate.js
  src/visualizer/codeinformation/explanations/Explanations.js
  src/visualizer/codeinformation/explanations/quickSortEx.js
  src/visualizer/codeinformation/templates/quickSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/button/playbackbutton/styles.css
  src/visualizer/sortingvisualizer/component/header/SectionHeader.js
Labels: code

#38 Branch ashley2
  src/App.css
  src/App.js
  src/about/About.js
  src/about/header/AboutHeader.js
  src/about/header/styles.css
  src/about/index.js
  src/about/styles.css
  src/contactus/ContactUs.js
  src/contactus/header/ContactUsHeader.js
  src/contactus/header/styles.css
  src/contactus/index.js
  src/contactus/styles.css
  src/index.js
  src/team/Team.js
  src/team/header/TeamHeader.js
  src/team/header/styles.css
  src/visualizer/sortingvisualizer/Visualizer.js
Labels: code, type.Task

#52 Fix some bugs and add code templates
  src/App.css
  src/App.js
  src/about/About.js
  src/about/styles.css
  src/contactus/ContactUs.js
  src/contactus/styles.css
  src/index.css
  src/index.js
  src/team/Team.js
  src/team/styles.css
  src/visualizer/algorithm/allSorts.js
  src/visualizer/algorithm/bucketSort.js
  src/visualizer/algorithm/countingSort.js
  src/visualizer/codeinformation/codeexplaination/CodeExplanation.css
  src/visualizer/codeinformation/codetemplate/CodeTemplate.css
  src/visualizer/codeinformation/codetemplate/CodeTemplate.js
  src/visualizer/codeinformation/explanations/Explanations.js
  src/visualizer/codeinformation/explanations/bucketSortEx.js
  src/visualizer/codeinformation/templates/Templates.js
  src/visualizer/codeinformation/templates/bubbleSortTemplate.js
  src/visualizer/codeinformation/templates/bucketSortTemplate.js
  src/visualizer/codeinformation/templates/insertionSortTemplate.js
  src/visualizer/codeinformation/templates/quickSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/header/SectionHeader.js
Labels: code

#53 Add reset and replay button, improve quality as well as including strict checks
  src/utils/VisualizerUtil.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/block/data.js
  src/visualizer/sortingvisualizer/component/button/playbackbutton/PlaybackButton.js
  src/visualizer/sortingvisualizer/component/button/resetbutton/ResetButton.js
  src/visualizer/sortingvisualizer/component/button/resetbutton/styles.css
  src/visualizer/sortingvisualizer/component/button/threestatebutton/PauseButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/PlayButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/ReplayButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/ThreeStateButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/styles.css
  src/visualizer/sortingvisualizer/component/legend/styles.css
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/AlgorithmSelector.js
  src/visualizer/sortingvisualizer/component/selectors/sliderselector/SelectorProps.js
  src/visualizer/sortingvisualizer/component/selectors/sliderselector/SliderSelector.js
  src/visualizer/sortingvisualizer/component/sortingvisualizerscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/styles.css
Labels: code

#56 Add animation progress bar and forward and backward button
  src/utils/VisualizerUtil.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/animationprogressbar/AnimationProgressBar.js
  src/visualizer/sortingvisualizer/component/block/AnimatedBlock.js
  src/visualizer/sortingvisualizer/component/block/styles.css
  src/visualizer/sortingvisualizer/component/button/forwardbackbutton/BackButton.js
  src/visualizer/sortingvisualizer/component/button/forwardbackbutton/ForwardButton.js
  src/visualizer/sortingvisualizer/component/button/forwardbackbutton/styles.css
  src/visualizer/sortingvisualizer/component/button/newdatabutton/NewDataButton.js
  src/visualizer/sortingvisualizer/component/button/newdatabutton/styles.css
  src/visualizer/sortingvisualizer/component/button/resetbutton/ResetButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/PauseButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/PlayButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/PlayPauseReplayButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/ReplayButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/ThreeStateButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/styles.css
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/AlgorithmSelector.js
  src/visualizer/sortingvisualizer/component/selectors/sliderselector/SelectorProps.js
  src/visualizer/sortingvisualizer/component/sortingvisualizerscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/styles.css
Labels: code

#57 Contact Us
  package-lock.json
  package.json
  src/App.css
  src/contactus/ContactUs.js
  src/contactus/body/Form.js
  src/contactus/body/styles.css
  src/contactus/styles.css
  src/visualizer/sortingvisualizer/Visualizer.js
Labels: code

#58 Add counting sort and abstract some methods
  src/contactus/body/styles.css
  src/contactus/styles.css
  src/utils/VisualizerUtil.js
  src/visualizer/algorithm/allSorts.js
  src/visualizer/algorithm/countingSort.js
  src/visualizer/codeinformation/explanations/Explanations.js
  src/visualizer/codeinformation/explanations/countingSortEx.js
  src/visualizer/codeinformation/explanations/radixSortEx.js
  src/visualizer/codeinformation/templates/Templates.js
  src/visualizer/codeinformation/templates/countingSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/block/styles.css
  src/visualizer/sortingvisualizer/component/bucketsortingvisualizer/Buckets.js
  src/visualizer/sortingvisualizer/component/bucketsortingvisualizer/buckets.css
  src/visualizer/sortingvisualizer/component/button/forwardbackbutton/BackButton.js
  src/visualizer/sortingvisualizer/component/button/newdatabutton/NewDataButton.js
  src/visualizer/sortingvisualizer/component/button/newdatabutton/styles.css
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/AlgorithmSelector.js
  src/visualizer/sortingvisualizer/component/smallBlock/SmallBlock.js
  src/visualizer/sortingvisualizer/component/sortingvisualizerscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/sortingvisualizerscreen/styles.css
  src/visualizer/sortingvisualizer/styles.css
  src/visualizer/sortingvisualizer/util/VisualizerUtil.js
Labels: code

#59 Add counting sort explantion + template
  src/visualizer/codeinformation/codeexplaination/CodeExplanation.js
  src/visualizer/codeinformation/explanations/bubbleSortEx.js
  src/visualizer/codeinformation/explanations/bucketSortEx.js
  src/visualizer/codeinformation/explanations/countingSortEx.js
  src/visualizer/codeinformation/explanations/insertionSortEx.js
  src/visualizer/codeinformation/explanations/quickSortEx.js
  src/visualizer/codeinformation/explanations/radixSortEx.js
  src/visualizer/codeinformation/templates/countingSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/animationscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/styles.css
  src/visualizer/sortingvisualizer/component/block/styles.css
  src/visualizer/sortingvisualizer/component/bucketsortingvisualizer/Buckets.js
  src/visualizer/sortingvisualizer/component/bucketsortingvisualizer/buckets.css
  src/visualizer/sortingvisualizer/component/legend/Legend.js
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/AlgorithmSelector.js
  src/visualizer/sortingvisualizer/component/smallBlock/SmallBlock.js
  src/visualizer/sortingvisualizer/util/VisualizerUtil.js
Labels: code, enhancement

#61 Completed navigation menu and home page.
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/about/About.js
  src/about/header/AboutHeader.js
  src/component/header/SectionHeader.js
  src/component/header/styles.css
  src/component/homedescription/HomeDescription.js
  src/component/homedescription/styles.css
  src/component/logo/logo.js
  src/component/logo/styles.css
  src/contactus/ContactUs.js
  src/contactus/body/styles.css
  src/contactus/header/ContactUsHeader.js
  src/contactus/header/styles.css
  src/home/Home.js
  src/home/styles.css
  src/index.js
  src/team/Team.js
  src/team/header/TeamHeader.js
  src/team/header/styles.css
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/button/newdatabutton/styles.css
  src/visualizer/sortingvisualizer/component/header/styles.css
Labels: code

#70 Fix some color issue and code template
  src/visualizer/codeinformation/codeexplaination/CodeExplanation.css
  src/visualizer/codeinformation/codeexplaination/CodeExplanation.js
  src/visualizer/codeinformation/codetemplate/CodeTemplate.css
  src/visualizer/codeinformation/codetemplate/CodeTemplate.js
  src/visualizer/codeinformation/templates/bubbleSortTemplate.js
  src/visualizer/codeinformation/templates/countingSortTemplate.js
  src/visualizer/codeinformation/templates/insertionSortTemplate.js
  src/visualizer/codeinformation/templates/quickSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/animationscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/styles.css
  src/visualizer/sortingvisualizer/component/bucketsortingvisualizer/Buckets.js
  src/visualizer/sortingvisualizer/component/bucketsortingvisualizer/buckets.css
Labels: enhancement

#73 Done with team section and how it works section
  src/App.js
  src/about/About.js
  src/about/styles.css
  src/contactus/ContactUs.js
  src/contactus/styles.css
  src/howitworks/HowItWorks.js
  src/howitworks/step/Step.js
  src/howitworks/step/styles.css
  src/howitworks/styles.css
  src/team/Team.js
  src/team/image/ashley.png
  src/team/image/how-it-works-image.jpg
  src/team/image/keanecjy_smaller.png
  src/team/image/team-image.jpg
  src/team/profile/Profile.js
  src/team/profile/styles.css
  src/team/styles.css
  src/visualizer/sortingvisualizer/styles.css
Labels: code, type.Task

#75 Step by step
  src/contactus/body/Form.js
  src/contactus/body/styles.css
  src/visualizer/algorithm/allSorts.js
  src/visualizer/algorithm/bubbleSort.js
  src/visualizer/algorithm/insertionSort.js
  src/visualizer/algorithm/mergeSort.js
  src/visualizer/algorithm/quickSort.js
  src/visualizer/algorithm/selectionSort.js
  src/visualizer/algorithm/stepbysteptemplate/allSortsStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/bubbleAndInsertionSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/countingSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/mergeSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/quickSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/selectionSortStepByStep.js
  src/visualizer/codeinformation/explanations/Explanations.js
  src/visualizer/codeinformation/explanations/mergeSortEx.js
  src/visualizer/codeinformation/explanations/quickSortEx.js
  src/visualizer/codeinformation/explanations/selectionSortEx.js
  src/visualizer/codeinformation/templates/Templates.js
  src/visualizer/codeinformation/templates/insertionSortTemplate.js
  src/visualizer/codeinformation/templates/mergeSortTemplate.js
  src/visualizer/codeinformation/templates/selectionSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/animationprogressbar/AnimationProgressBar.js
  src/visualizer/sortingvisualizer/component/animationscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/block/MergeSortBlock.js
  src/visualizer/sortingvisualizer/component/button/forwardbackbutton/BackButton.js
  src/visualizer/sortingvisualizer/component/button/forwardbackbutton/ForwardButton.js
  src/visualizer/sortingvisualizer/component/button/newdatabutton/NewDataButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/ThreeStateButton.js
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/AlgorithmSelector.js
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/styles.css
  src/visualizer/sortingvisualizer/component/stepbystep/StepByStep.js
  src/visualizer/sortingvisualizer/component/stepbystep/styles.css
  src/visualizer/sortingvisualizer/styles.css
  src/visualizer/sortingvisualizer/util/VisualizerUtil.js
Labels: code

#79 Fix Merge Sort
  src/contactus/body/Form.js
  src/contactus/body/FormHolder.js
  src/contactus/body/styles.css
  src/team/Team.js
  src/team/image/sean.jpg
  src/team/profile/styles.css
  src/visualizer/algorithm/mergeSort.js
  src/visualizer/sortingvisualizer/component/animationscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/block/MergeSortBlock.js
  src/visualizer/sortingvisualizer/util/VisualizerUtil.js
Labels: code, type.Task

#76 Footer done
  src/App.js
  src/contactus/ContactUs.js
  src/contactus/body/Form.js
  src/contactus/footer/Footer.js
  src/contactus/footer/styles.css
  src/contactus/styles.css
  src/home/Home.js
  src/home/homedescription/HomeDescription.js
  src/home/homedescription/styles.css
  src/home/styles.css
  src/howitworks/HowItWorks.js
  src/howitworks/step/Step.js
  src/howitworks/step/styles.css
  src/howitworks/styles.css
  src/index.js
  src/team/profile/styles.css
  src/team/styles.css
  src/visualizer/sortingvisualizer/component/legend/styles.css
  src/visualizer/sortingvisualizer/styles.css
Labels: code, type.Task

#80 Add message notification
  package-lock.json
  package.json
  src/contactus/ContactUs.js
  src/contactus/body/Form.js
  src/contactus/body/Notification.js
  src/contactus/body/styles.css
  src/contactus/contactusheader/ContactUsHeader.js
  src/contactus/contactusheader/styles.css
  src/contactus/styles.css
  src/howitworks/HowItWorks.js
  src/team/Team.js
  src/team/profile/Profile.js
  src/visualizer/algorithm/sortingalgorithms/allSorts.js
  src/visualizer/algorithm/sortingalgorithms/bubbleSort.js
  src/visualizer/algorithm/sortingalgorithms/bucketSort.js
  src/visualizer/algorithm/sortingalgorithms/countingSort.js
  src/visualizer/algorithm/sortingalgorithms/insertionSort.js
  src/visualizer/algorithm/sortingalgorithms/mergeSort.js
  src/visualizer/algorithm/sortingalgorithms/quickSort.js
  src/visualizer/algorithm/sortingalgorithms/radixSort.js
  src/visualizer/algorithm/sortingalgorithms/selectionSort.js
  src/visualizer/algorithm/sortingalgorithms/swap.js
  src/visualizer/algorithm/stepbysteptemplate/mergeSortStepByStep.js
  src/visualizer/codeinformation/codetemplate/CodeTemplate.js
  src/visualizer/codeinformation/templates/bubbleSortTemplate.js
  src/visualizer/codeinformation/templates/mergeSortTemplate.js
  src/visualizer/codeinformation/templates/quickSortTemplate.js
  src/visualizer/codeinformation/templates/selectionSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/animationscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/styles.css
  src/visualizer/sortingvisualizer/component/block/MergeSortBlock.js
  src/visualizer/sortingvisualizer/component/legend/Legend.js
  src/visualizer/sortingvisualizer/component/stepbystep/styles.css
  src/visualizer/sortingvisualizer/util/VisualizerUtil.js
Labels: code, type.Task

#81 Test
  package-lock.json
  package.json
  src/__tests__/visualizer/algorithm/sortingalgorithms/bubbleSort.test.js
  src/__tests__/visualizer/algorithm/sortingalgorithms/insertionSort.test.js
  src/__tests__/visualizer/algorithm/sortingalgorithms/selectionSort.test.js
  src/visualizer/algorithm/sortingalgorithms/selectionSort.js
  src/visualizer/algorithm/stepbysteptemplate/bubbleAndInsertionSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/mergeSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/quickSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/selectionSortStepByStep.js
Labels: test

#82 merge and quick sort test
  package.json
  src/__tests__/visualizer/algorithm/sortingalgorithms/mergeSort.test.js
  src/__tests__/visualizer/algorithm/sortingalgorithms/quickSort.test.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/legend/Legend.js
  src/visualizer/sortingvisualizer/component/stepbystep/styles.css
  src/visualizer/sortingvisualizer/util/VisualizerUtil.js
Labels: test

#87 Add radix sort
  .circleci/config.yml
  src/App.css
  src/component/logo/styles.css
  src/contactus/body/Form.js
  src/contactus/body/Notification.js
  src/contactus/body/styles.css
  src/contactus/contactusheader/ContactUsHeader.js
  src/contactus/contactusheader/styles.css
  src/contactus/footer/styles.css
  src/contactus/styles.css
  src/home/homedescription/styles.css
  src/home/styles.css
  src/howitworks/step/styles.css
  src/howitworks/styles.css
  src/index.css
  src/index.js
  src/team/profile/styles.css
  src/team/styles.css
  src/visualizer/algorithm/sortingalgorithms/radixSort.js
  src/visualizer/algorithm/stepbysteptemplate/allSortsStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/bubbleAndInsertionSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/countingSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/mergeSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/quickSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/radixSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/selectionSortStepByStep.js
  src/visualizer/codeinformation/codeexplaination/CodeExplanation.css
  src/visualizer/codeinformation/codeexplaination/CodeExplanation.js
  src/visualizer/codeinformation/codetemplate/CodeTemplate.css
  src/visualizer/codeinformation/codetemplate/CodeTemplate.js
  src/visualizer/codeinformation/explanations/countingSortEx.js
  src/visualizer/codeinformation/templates/mergeSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/animationscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/styles.css
  src/visualizer/sortingvisualizer/component/block/styles.css
  src/visualizer/sortingvisualizer/component/button/forwardbackbutton/BackButton.js
  src/visualizer/sortingvisualizer/component/button/forwardbackbutton/ForwardButton.js
  src/visualizer/sortingvisualizer/component/button/forwardbackbutton/styles.css
  src/visualizer/sortingvisualizer/component/button/newdatabutton/NewDataButton.js
  src/visualizer/sortingvisualizer/component/button/threestatebutton/styles.css
  src/visualizer/sortingvisualizer/component/countingsortbuckets/Buckets.js
  src/visualizer/sortingvisualizer/component/countingsortbuckets/buckets.css
  src/visualizer/sortingvisualizer/component/legend/Legend.js
  src/visualizer/sortingvisualizer/component/radixsortboxes/RadixSortBoxes.js
  src/visualizer/sortingvisualizer/component/radixsortboxes/styles.css
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/AlgorithmSelector.js
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/styles.css
  src/visualizer/sortingvisualizer/component/selectors/sliderselector/SliderSelector.js
  src/visualizer/sortingvisualizer/component/selectors/sliderselector/styles.css
  src/visualizer/sortingvisualizer/component/stepbystep/StepByStep.js
  src/visualizer/sortingvisualizer/component/stepbystep/styles.css
  src/visualizer/sortingvisualizer/styles.css
  src/visualizer/sortingvisualizer/util/CountingSortUtil.js
  src/visualizer/sortingvisualizer/util/GeneralUtil.js
  src/visualizer/sortingvisualizer/util/MergeSortUtil.js
  src/visualizer/sortingvisualizer/util/QuickSortUtil.js
  src/visualizer/sortingvisualizer/util/RadixSortUtil.js
  src/visualizer/sortingvisualizer/util/SwappingAlgoUtil.js
  src/visualizer/sortingvisualizer/util/VisualizerUtil.js
Labels: bug, code

#88 Done with shell sort
  src/team/styles.css
  src/visualizer/algorithm/sortingalgorithms/allSorts.js
  src/visualizer/algorithm/sortingalgorithms/shellSort.js
  src/visualizer/algorithm/stepbysteptemplate/allSortsStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/bubbleInsertionAndShellSortStepByStep.js
  src/visualizer/codeinformation/explanations/Explanations.js
  src/visualizer/codeinformation/explanations/shellSortEx.js
  src/visualizer/codeinformation/templates/Templates.js
  src/visualizer/codeinformation/templates/shellSortTemplate.js
Labels: code, type.Task

#99 Add radix sort stepbystep, code templates, explanations
  src/visualizer/algorithm/stepbysteptemplate/radixSortStepByStep.js
  src/visualizer/codeinformation/explanations/bucketSortEx.js
  src/visualizer/codeinformation/explanations/quickSortEx.js
  src/visualizer/codeinformation/explanations/radixSortEx.js
  src/visualizer/codeinformation/templates/countingSortTemplate.js
  src/visualizer/codeinformation/templates/radixSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/animationscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/radixsortboxes/RadixSortBoxes.js
  src/visualizer/sortingvisualizer/component/radixsortboxes/styles.css
  src/visualizer/sortingvisualizer/util/CountingSortUtil.js
  src/visualizer/sortingvisualizer/util/RadixSortUtil.js
Labels: code, enhancement

#103 Improve code quality and fix quicksort algorithm to match its template
  src/__tests__/visualizer/algorithm/sortingalgorithms/quickSort.test.js
  src/team/Team.js
  src/team/TeamData.js
  src/visualizer/algorithm/sortingalgorithms/quickSort.js
  src/visualizer/algorithm/stepbysteptemplate/mergeSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/quickSortStepByStep.js
  src/visualizer/codeinformation/explanations/bubbleSortEx.js
  src/visualizer/codeinformation/explanations/insertionSortEx.js
  src/visualizer/codeinformation/explanations/mergeSortEx.js
  src/visualizer/codeinformation/explanations/quickSortEx.js
  src/visualizer/codeinformation/explanations/selectionSortEx.js
  src/visualizer/codeinformation/templates/quickSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/animationscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/CountingSortScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/GenericSortScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/MergeSortScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/RadixSortScreen.js
  src/visualizer/sortingvisualizer/component/button/newdatabutton/NewDataButton.js
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/AlgorithmSelector.js
  src/visualizer/sortingvisualizer/component/stepbystep/styles.css
  src/visualizer/sortingvisualizer/styles.css
  src/visualizer/sortingvisualizer/util/AnimationScreenUtil.js
  src/visualizer/sortingvisualizer/util/CountingSortUtil.js
  src/visualizer/sortingvisualizer/util/GeneralUtil.js
  src/visualizer/sortingvisualizer/util/MergeSortUtil.js
  src/visualizer/sortingvisualizer/util/QuickSortUtil.js
  src/visualizer/sortingvisualizer/util/RadixSortUtil.js
Labels: code, enhancement

#104 fix merge sort animation and test
  src/__tests__/visualizer/algorithm/sortingalgorithms/mergeSort.test.js
  src/visualizer/algorithm/sortingalgorithms/mergeSort.js
  src/visualizer/sortingvisualizer/util/MergeSortUtil.js
Labels: code

#107 Add Netlify badge
  README.md
Labels: docs

#105 Implement bucket sort
  src/index.js
  src/team/styles.css
  src/visualizer/algorithm/sortingalgorithms/bucketSort.js
  src/visualizer/algorithm/sortingalgorithms/countingSort.js
  src/visualizer/algorithm/sortingalgorithms/insertionSort.js
  src/visualizer/algorithm/stepbysteptemplate/allSortsStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/bucketSortStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/genericSwapStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/radixSortStepByStep.js
  src/visualizer/codeinformation/templates/insertionSortTemplate.js
  src/visualizer/codeinformation/templates/mergeSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/animationscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/BucketSortScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/NumberHighlighter.js
  src/visualizer/sortingvisualizer/component/animationscreen/RadixSortScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/styles.css
  src/visualizer/sortingvisualizer/component/legend/Legend.js
  src/visualizer/sortingvisualizer/component/radixsortboxes/RadixSortBoxes.js
  src/visualizer/sortingvisualizer/component/radixsortboxes/styles.css
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/AlgorithmSelector.js
  src/visualizer/sortingvisualizer/component/selectors/sliderselector/SliderSelector.js
  src/visualizer/sortingvisualizer/component/stepbystep/StepByStep.js
  src/visualizer/sortingvisualizer/util/BucketSortUtil.js
  src/visualizer/sortingvisualizer/util/CountingSortUtil.js
  src/visualizer/sortingvisualizer/util/GeneralUtil.js
  src/visualizer/sortingvisualizer/util/MergeSortUtil.js
  src/visualizer/sortingvisualizer/util/RadixSortUtil.js
  src/visualizer/sortingvisualizer/util/SwappingAlgoUtil.js
Labels: code

#108 Load fonts
  public/index.html
Labels: code

#109 Update bucket sort code and add links to all sorting algorithms
  public/index.html
  public/team-image.jpg
  src/team/profile/Profile.js
  src/visualizer/codeinformation/CodeInformation.js
  src/visualizer/codeinformation/codeexplaination/CodeExplanation.js
  src/visualizer/codeinformation/codeexplaination/styles.css
  src/visualizer/codeinformation/codetemplate/CodeTemplate.js
  src/visualizer/codeinformation/codetemplate/styles.css
  src/visualizer/codeinformation/explanations/bubbleSortEx.js
  src/visualizer/codeinformation/explanations/bucketSortEx.js
  src/visualizer/codeinformation/explanations/countingSortEx.js
  src/visualizer/codeinformation/explanations/insertionSortEx.js
  src/visualizer/codeinformation/explanations/mergeSortEx.js
  src/visualizer/codeinformation/explanations/quickSortEx.js
  src/visualizer/codeinformation/explanations/radixSortEx.js
  src/visualizer/codeinformation/explanations/selectionSortEx.js
  src/visualizer/codeinformation/explanations/shellSortEx.js
  src/visualizer/codeinformation/styles.css
  src/visualizer/codeinformation/templates/bucketSortTemplate.js
  src/visualizer/codeinformation/templates/radixSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/button/ButtonBox.js
  src/visualizer/sortingvisualizer/component/button/styles.css
  src/visualizer/sortingvisualizer/component/countingsortbuckets/Buckets.js
  src/visualizer/sortingvisualizer/component/countingsortbuckets/styles.css
  src/visualizer/sortingvisualizer/styles.css
  src/visualizer/sortingvisualizer/util/BucketSortUtil.js
  src/visualizer/sortingvisualizer/util/MergeSortUtil.js
  src/visualizer/sortingvisualizer/util/RadixSortUtil.js
Labels: code, enhancement

#119 Add jsdoc script to generate jsdocs and add some jsdocs
  .gitignore
  jsdoc.conf.json
  package-lock.json
  package.json
  src/component/header/SectionHeader.js
  src/contactus/body/Form.js
  src/contactus/body/Notification.js
  src/visualizer/sortingvisualizer/util/GeneralUtil.js
Labels: code docs

#121 Completed heap sort (represented in array)
  src/index.js
  src/visualizer/algorithm/sortingalgorithms/allSorts.js
  src/visualizer/algorithm/sortingalgorithms/heapSort.js
  src/visualizer/algorithm/stepbysteptemplate/allSortsStepByStep.js
  src/visualizer/algorithm/stepbysteptemplate/heapSortStepByStep.js
  src/visualizer/codeinformation/explanations/Explanations.js
  src/visualizer/codeinformation/explanations/heapSortEx.js
  src/visualizer/codeinformation/explanations/shellSortEx.js
  src/visualizer/codeinformation/templates/Templates.js
  src/visualizer/codeinformation/templates/heapSortTemplate.js
  src/visualizer/codeinformation/templates/shellSortTemplate.js
  src/visualizer/sortingvisualizer/util/GeneralUtil.js
Labels: bug, code, type.Task

#124 Fix BucketSort animation
  src/visualizer/sortingvisualizer/component/animationscreen/AnimationScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/BucketSortScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/StackOfBoxes.js
  src/visualizer/sortingvisualizer/component/block/BucketSortBlock.js
  src/visualizer/sortingvisualizer/util/AnimationScreenUtil.js
Labels: bug

#125 Completed refacturing and heap sort step by step
  src/app/App.css
  src/app/App.js
  src/component/navigationMenu/NavigationMenu.js
  src/component/navigationMenu/styles.css
  src/howitworks/HowItWorks.js
  src/howitworks/StepsData.js
  src/index.js
  src/team/Team.js
  src/team/TeamData.js
  src/visualizer/algorithm/sortingalgorithms/heapSort.js
  src/visualizer/algorithm/stepbysteptemplate/heapSortStepByStep.js
  src/visualizer/codeinformation/templates/insertionSortTemplate.js
Labels: code, enhancement, type.Task

#129 Add docs and fix minor bug
  README.md
  jsdoc.conf.json
  src/visualizer/codeinformation/CodeInformation.js
  src/visualizer/codeinformation/codeexplaination/CodeExplanation.js
  src/visualizer/codeinformation/codeexplaination/PerformanceSection.js
  src/visualizer/codeinformation/codetemplate/CodeTemplate.js
  src/visualizer/codeinformation/codetemplate/Selector.js
  src/visualizer/codeinformation/explanations/Explanations.js
  src/visualizer/codeinformation/explanations/bubbleSortEx.js
  src/visualizer/codeinformation/explanations/bucketSortEx.js
  src/visualizer/codeinformation/explanations/countingSortEx.js
  src/visualizer/codeinformation/explanations/heapSortEx.js
  src/visualizer/codeinformation/explanations/insertionSortEx.js
  src/visualizer/codeinformation/explanations/mergeSortEx.js
  src/visualizer/codeinformation/explanations/quickSortEx.js
  src/visualizer/codeinformation/explanations/radixSortEx.js
  src/visualizer/codeinformation/explanations/selectionSortEx.js
  src/visualizer/codeinformation/explanations/shellSortEx.js
  src/visualizer/codeinformation/templates/Templates.js
  src/visualizer/codeinformation/templates/bubbleSortTemplate.js
  src/visualizer/codeinformation/templates/bucketSortTemplate.js
  src/visualizer/codeinformation/templates/countingSortTemplate.js
  src/visualizer/codeinformation/templates/heapSortTemplate.js
  src/visualizer/codeinformation/templates/insertionSortTemplate.js
  src/visualizer/codeinformation/templates/mergeSortTemplate.js
  src/visualizer/codeinformation/templates/quickSortTemplate.js
  src/visualizer/codeinformation/templates/radixSortTemplate.js
  src/visualizer/codeinformation/templates/selectionSortTemplate.js
  src/visualizer/codeinformation/templates/shellSortTemplate.js
  src/visualizer/sortingvisualizer/Visualizer.js
  src/visualizer/sortingvisualizer/component/animationscreen/BucketSortScreen.js
  src/visualizer/sortingvisualizer/component/animationscreen/StackOfBoxes.js
  src/visualizer/sortingvisualizer/component/selectors/sliderselector/SliderSelector.js
  src/visualizer/sortingvisualizer/util/GeneralUtil.js
  src/visualizer/sortingvisualizer/util/MergeSortUtil.js
  src/visualizer/sortingvisualizer/util/QuickSortUtil.js
  src/visualizer/sortingvisualizer/util/RadixSortUtil.js
  src/visualizer/sortingvisualizer/util/SwappingAlgoUtil.js
Labels: code docs

#138 Finished up test and jsdocs, and fixed some checkstyle issues.
  README.md
  src/__tests__/visualizer/algorithm/sortingalgorithms/heapSort.test.js
  src/__tests__/visualizer/algorithm/sortingalgorithms/shellSort.test.js
  src/app/App.js
  src/component/logo/logo.js
  src/component/navigationMenu/NavigationMenu.js
  src/component/navigationMenu/styles.css
  src/contactus/footer/Footer.js
  src/home/homedescription/HomeDescription.js
  src/howitworks/StepsData.js
  src/howitworks/step/Step.js
  src/visualizer/codeinformation/templates/heapSortTemplate.js
  src/visualizer/sortingvisualizer/component/legend/LegendHeader.js
  src/visualizer/sortingvisualizer/component/selectors/algorithmselector/AlgorithmSelector.js
Labels: code, docs, test, type.Task
